<h2>Welcome to Splittie!</h2>
<p>
Splittie makes splitting bills effortless. Here's how to get started:
</p>
<h3>Creating Bills:</h3>
<ul>
    <li>Click on the navigation bar to begin.</li>
    <li>Fill out the form with the required details.</li>
    <li>Add the original price of each item for each person as listed on your receipt.</li>
    <li>Splittie will automatically calculate the amount each person owes, including their share of taxes and tips.</li>
</ul>
<h3>Viewing Your Bills:</h3>
<ul>
    <li>Click on "Bills" in the navigation bar to see a list of all bills associated with you.</li>
    <li>Each bill shows the subtotal(the number before taxes and tips), tax, tip, total, the amount of money you should pay back, status of payment (if you already paid or not), and completion (if everyone paid back already)</li>
</ul>
<p>
Splittie simplifies bill-splitting, no more excessive talks and calculators at the restaurant tables ;D
</p>
